## BASE URL
BASE_URL=http://192.168.0.30:8080/

## S3 URL
S3_PUBLIC_BASE_URL=https://gear-freak-public-storage-3059875.s3.ap-northeast-2.amazonaws.com

## Deep Link 도메인 
DEEP_LINK_BASE_URL=https://gear-freaks.com
